body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: green;
  width: 100vw;
  height: 100vh;
}

.preview-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.preview-container canvas {
  background-color: white;
  background: url("../../imgs/gif/bg.gif") right bottom white;
}